@import '../../variables/variables';
.awards{
    .containers {
        margin: auto;
        justify-content: center;
        // background: red;
        .main-container {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;            
            border-radius: 10px;
            width: 21.5%;
            margin: 10px;
        }
        // img {
        //     width: 100px;
        //     height: 75px;
        //     margin: auto;
        // }
        a:hover {
            color: red;
        }
        .thumnail{
            width:100%;
            margin: auto;
        }
        .img-fluid{
            width:50%;
            height: 5rem;
        }
        .big{
            // background: #000;
            width: 80%;
        }


    }
    .award {
        margin-top: 30px;
        text-align: center;
        p {
            color: red;
            letter-spacing: 4px
        }
        h1 {
            font-size: 55px;
            font-weight: bold;
            margin-bottom: 80px;
        }
    }
    @media only screen and (max-width: 992px){
         .containers .main-container {
            margin: 10px;
            width: 27%;
            height: 13rem; 
            // background: #000;
        }

    }
    @media only screen and (max-width: 768px) {
        .containers .main-container {
            width: 34%;
            // background: red;
            
        }
    }
    @media only screen and (max-width: 576px) {
        .containers .main-container {
            margin: 15px;
            width: 65%;    
        }
    }
    @media only screen and (max-width: 375px){
        .containers .main-container {
            margin: 15px;
            padding: 30rem;
            width: 60%; 
            height: 13rem; 
        }

    }
}